<b>Case 4 - Millennium BCP
<br>Group H

<br>| Ana Teresa Maia | r20201562 |
<br>| Henrique Falcão | r20201519 |
<br>| Maria Benedita Elias | 20230491 |
<br>| Maria Leonor Gusmão | 20230488 |
<br>| Pedro  Carvalho | 20230487 |


<br>Business Cases for Data Science S2 2023/2024

This Dataset is to be applied for the Processes that just entered their 9th activity.

In [2]:
import pandas as pd

### Dataset Load

In [3]:
dataset = pd.read_csv('processed_and_transformed_subset_9.csv')

In [4]:
dataset

,Task arrival date_act1,Task arrival date_act2,Task arrival date_act3,Task arrival date_act4,Task arrival date_act5,Task arrival date_act6,Task arrival date_act7,Task arrival date_act8,Actvity ID_act1,Actvity ID_act2,...,Value_20,Value_100,Value_60,Value_2,Value_40,Value_1,Value_80,Value_90,Actvity ID_last_act9,Task arrival date_last_act9
0,2023-05-22 14:22:37.157,2023-05-22 14:22:41.627,2023-05-23 08:51:18.417,2023-05-23 09:38:11.167,2023-05-23 09:45:21.737,2023-05-23 09:52:57.190,2023-05-23 10:01:59.513,2023-05-23 10:19:14.557,100,102,...,0,0,0,0,0,0,0,1,102,2023-05-23 10:26:18.300
1,2023-09-12 09:06:55.950,2023-09-12 09:07:27.513,2023-09-12 10:56:45.970,2023-09-12 10:59:25.233,2023-09-12 11:05:18.667,2023-09-12 11:14:04.363,2023-09-12 11:28:42.230,2023-09-12 11:51:00.383,100,102,...,0,0,1,0,0,0,0,0,102,2023-09-12 11:52:23.297
2,2023-10-13 08:38:21.240,2023-10-13 08:38:22.493,2023-10-13 11:17:31.260,2023-10-13 14:43:49.880,2023-10-13 15:17:07.153,2023-10-16 05:58:56.527,2023-10-16 09:01:22.177,2023-10-16 09:10:09.547,100,102,...,0,1,0,0,0,0,0,0,102,2023-10-16 09:11:38.187
3,2023-12-04 17:28:15.190,2023-12-04 17:28:15.487,2023-12-05 08:49:26.603,2023-12-05 09:14:14.067,2023-12-05 09:20:04.450,2023-12-05 09:32:26.297,2023-12-05 09:52:10.823,2023-12-05 17:20:30.473,100,102,...,0,1,0,0,0,0,0,0,102,2023-12-06 08:54:37.123

As we can see, this subset only has 4 rows and unfortunatly, we are not able to develop a model for this reason.

This are the target values for this subset, we only have target 0 and 2

In [6]:
dataset["Target"]

0    0
1    2
2    0
3    0
Name: Target, dtype: int64

For this notebook, if we apply majority voting, we predict that the outcome is 0, as it is the most present class. This is a very primitive technique, so we suggest the collection of more data for this subset, so that a model can be built.